
<h1>Tag: <%= @tagname -%></h1>

<div class="hero-unit">
  <div class="row-fluid">
    <%= form_for(@graph, :url => "/graph/draw", :remote => true) do |f| %>
      <%= hidden_field_tag "tagname", @tagname %>
      <div class="span5">
      <div id="graphite_graph">
      </div>
      </div>
       
        <%= f.select :series_id, @series.map { |k,h| [h.name, h.id] }, { } , { :multiple => true, :size => 30 } %>
       

     <p>Start: <%= f.text_field :graph_start, { :class => 'input-medium' } -%></p>
     <p>End: <%= f.text_field :graph_end, { :class => 'input-medium' } -%></p>
     <p><%= f.submit "Graph!", :class => "btn btn-primary" %></p>
    <% end %>
  </div>
  dffdsa
</div>
